<!DOCTYPE html>
<html lang="en">
<head>
  <%-include("./partials/header") %>
  <title>Spotif-Ai home</title>
</head>
<body>
  <h1>welcome to Spotif-Ai</h1>
  <%-include("./partials/scripts") %>
  
</body>
</html>